$red: #f44336;
$pink: #e91e63;
$purple: #9c27b0;
$indigo: #3f51b5;
$blue: #001df5;
$cyan: #00bcd4;
$green: #4caf50;
$lime: #cddc39;
$yellow: #ffeb3b;
$orange: #ff9800;
$deep-orange: #ff5722;
$brown: #795548;
$grey: #9e9e9e;
$blue-grey: #607d8b;
$light-grey: #eaeaea;
$dark-grey: #696969;

$primary: #001df5;
$bottom: color(black lightness(+5%));
