$font-family-title: sans-serif;
$font-family-mono: monospace;
$font-family-paragraph: serif;

$_xs: 480px;
$_sm: 768px;
$_md: 992px;
$_lg: 1200px;
$_xl: 1600px;
$xs: (
  max-width: 480px
);
$sm: (
  max-width: 768px
);
$md: (
  max-width: 992px
);
$lg: (
  max-width: 1200px
);
$xl: (
  max-width: 1600px
);

html,
body {
  background: $bottom;
}
body {
  font: mono regular 18px;
  color: white;
}
