.img {
  position: relative;
  margin-y: 20px;
  margin-x: @1632 -30px @600 -15px;
  background: #9a9b9a;
}
.img::before {
  content: "";
  position: absolute 0;
  display: block;

  background-image: linear-gradient(45deg, #606560 25%, transparent 25%),
    linear-gradient(-45deg, #606560 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #606560 75%),
    linear-gradient(-45deg, transparent 75%, #606560 75%);

  background-image: -webkit-gradient(
      linear,
      0 100%,
      100% 0,
      color-stop(0.25, #606560),
      color-stop(0.25, transparent)
    ),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.25, #606560), color-stop(0.25, transparent)),
    -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.75, transparent), color-stop(0.75, #606560)),
    -webkit-gradient(linear, 0 0, 100% 100%, color-stop(0.75, transparent), color-stop(0.75, #606560));

  -moz-background-size: 100px 100px;
  background-size: 100px 100px;
  -webkit-background-size: 100px 101px;

  background-position: 0 0, 50px 0, 50px -50px, 0px 50px;
}

.img img {
  width: 100%;
  position: relative;
  margin-bottom: -3px;
}

.img__magnifier {
  cursor: crosshair;
}
